<html>
<body>
<!-- <form action="/" method="POST"> -->
<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name">
<p></p>

    <label for="email">Email address</label>
    <input type="email" name="email"
      id="email" placeholder="Email">
<p></p>

    <label for="password">Password</label>
    <input type="password" name="password" id="password"
      placeholder="Password">
      <input type="submit" value="Submit">
</form>
</body>
</html>
