<h1>Would you like to</h1>

<a href="http://localhost:3000/Create">Create a new page</a>
<p></p>
<a href="http://localhost:3000/Read">Search for pages</a>
<p></p>
<a href="http://localhost:3000/Update">Update a page</a>
<p></p>
<a href="http://localhost:3000/Delete">Delete a page</a>
