<h1>Would you like to</h1>

<a href="http://localhost:3000/Create">Create a new user</a>
<p></p>
<a href="http://localhost:3000/Read">Look up a user by Email</a>
<p></p>
<a href="http://localhost:3000/Update">Change Password</a>
<p></p>
<a href="http://localhost:3000/Delete">Delete a user</a>
