<html>
<body>
<!-- <form action="/" method="POST"> -->
<p>Insert email and new password</p>
<form method="post">

    <label for="email">Email address</label>
    <input type="email" name="email"
      id="email" placeholder="Email">
<p></p>

    <label for="password">Password</label>
    <input type="password" name="password" id="password"
      placeholder="Password">
      <input type="submit" value="Submit">
</form>
</body>
</html>
