<html>
<body>
<!-- <form action="/" method="POST"> -->
<p>Insert Title and New article</p>
<form method="post">

    <label for="title">Title</label>
    <input type="text" name="title"
      id="text" placeholder="Title">
<p></p>

    <label for="article">Article</label>
    <input type="text" name="article" id="article"
      placeholder="Article">
      <input type="submit" value="Submit">
</form>
</body>
</html>
